@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oibrhw');
  src:  url('../fonts/icomoon.eot?oibrhw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oibrhw') format('truetype'),
    url('../fonts/icomoon.woff?oibrhw') format('woff'),
    url('../fonts/icomoon.svg?oibrhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}