/**
*
*   GRID
*   Setting
*
*/    



/**
*
*   GRID
*
*/


/* GRID 16 */

$calc : 1 / $colNumber;

@for $i from 1 through $colNumber{
    /* DEFAULT */
    .col-#{$i}{
        width: percentage($calc * $i);   
        max-width: percentage($calc * $i);   
    }
    /* XXL */
    @media screen #{$xxl}{
        .col-xxl-#{$i}{
            width: percentage($calc * $i) !important;
            max-width: percentage($calc * $i) !important;
        }
    }
    /* LG */
    @media screen #{$lg}{
        .col-lg-#{$i}{
            width: percentage($calc * $i) !important;
            max-width: percentage($calc * $i) !important;
        }
    }
    /* MD */
    @media screen #{$md}{
        .col-md-#{$i}{
            width: percentage($calc * $i) !important;
            max-width: percentage($calc * $i) !important;
        }
    }
    /* SM */
    @media screen #{$sm}{
        .col-sm-#{$i}{
            width: percentage($calc * $i) !important;
            max-width: percentage($calc * $i) !important;
        }
    }
    /* XS */
    @media screen #{$xs}{
        .col-xs-#{$i}{
            width: percentage($calc * $i) !important;
            max-width: percentage($calc * $i) !important;
        }
    }
}


/* GRID 3 */

$calc2 : 1 / 3;

@for $i from 1 through 3{
    /* DEFAULT */
    .col-#{$i}-3{
        @if $i == 1{
            width: percentage( decimal-floor($calc2 * $i, 4) );
            max-width: percentage(decimal-floor($calc2 * $i, 4));
        }
        @else {
            width: percentage( decimal-ceil($calc2 * $i, 4) );
            max-width: percentage( decimal-ceil($calc2 * $i, 4) );
        }
    }
    /* XXL */
    @media screen #{$xxl}{
        .col-xxl-#{$i}-3{
            @if $i == 1 {
                width: percentage(decimal-floor($calc2 * $i, 4));
                max-width: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                width: percentage(decimal-ceil($calc2 * $i, 4));
                max-width: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* LG */
    @media screen #{$lg}{
        .col-lg-#{$i}-3{
            @if $i == 1 {
                width: percentage(decimal-floor($calc2 * $i, 4));
                max-width: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                width: percentage(decimal-ceil($calc2 * $i, 4));
                max-width: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* MD */
    @media screen #{$md}{
        .col-md-#{$i}-3{
            @if $i == 1 {
                width: percentage(decimal-floor($calc2 * $i, 4));
                max-width: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                width: percentage(decimal-ceil($calc2 * $i, 4));
                max-width: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* SM */
    @media screen #{$sm}{
        .col-sm-#{$i}-3{
            @if $i == 1 {
                width: percentage(decimal-floor($calc2 * $i, 4));
                max-width: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                width: percentage(decimal-ceil($calc2 * $i, 4));
                max-width: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* XS */
    @media screen #{$xs}{
        .col-xs-#{$i}-3{
            @if $i == 1 {
                width: percentage(decimal-floor($calc2 * $i, 4));
                max-width: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                width: percentage(decimal-ceil($calc2 * $i, 4));
                max-width: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
}


.col-1-5{
    width: 20%;
    max-width: 20%;
}






/**
*
*   OFFSET
*
*/

@for $i from 0 through $colNumber{
    /* DEFAULT */
    .offset-col-#{$i}{
        margin-left: percentage($calc * $i);   
    }    
    /* XXL */
    @media screen #{$xxl}{
        .offset-col-xxl-#{$i}{
            margin-left: percentage($calc * $i);   
        }
    }    
    /* LG */
    @media screen #{$lg}{
        .offset-col-lg-#{$i}{
            margin-left: percentage($calc * $i);   
        }
    }    
    /* MD */
    @media screen #{$md}{
        .offset-col-md-#{$i}{
            margin-left: percentage($calc * $i);   
        }
    }
    /* SM */
    @media screen #{$sm}{
        .offset-col-sm-#{$i}{
            margin-left: percentage($calc * $i) !important;   
        }
    }
    /* XS */
    @media screen #{$xs}{
        .offset-col-xs-#{$i}{
            margin-left: percentage($calc * $i);   
        }
    }
}

/* GRID 3 */

$calc2 : 1 / 3;

@for $i from 1 through 3{
    /* DEFAULT */
    .offset-col-#{$i}-3{
        @if $i == 1{
            margin-left: percentage( decimal-floor($calc2 * $i, 4) );
        }
        @else {
            margin-left: percentage( decimal-ceil($calc2 * $i, 4) );
        }
    }
    /* XXL */
    @media screen #{$xxl}{
        .offset-col-xxl-#{$i}-3{
            @if $i == 1 {
                margin-left: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                margin-left: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* LG */
    @media screen #{$lg}{
        .offset-col-lg-#{$i}-3{
            @if $i == 1 {
                margin-left: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                margin-left: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* MD */
    @media screen #{$md}{
        .offset-col-md-#{$i}-3{
            @if $i == 1 {
                margin-left: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                margin-left: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* SM */
    @media screen #{$sm}{
        .offset-col-sm-#{$i}-3{
            @if $i == 1 {
                margin-left: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                margin-left: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
    /* XS */
    @media screen #{$xs}{
        .offset-col-xs-#{$i}-3{
            @if $i == 1 {
                margin-left: percentage(decimal-floor($calc2 * $i, 4));
            }
            @else {
                margin-left: percentage(decimal-ceil($calc2 * $i, 4));
            }
        }
    }
}