

/**
*
*   DEVICES SHOW / HIDE
*
*/

.show                                {display: inherit}
.hide                       		{display:none;}
.hide.block                   		{display:none;}

    @media screen #{$lg}{
        .show-lg                    {display:inherit ;}     // show-lg
        .show-lg.table-row          {display:table-row ;}   
        .show-lg.table-cell          {display:table-cell ;}
        
        /* uncss:ignore */
        .hide-lg,
        .computerHide          {display:none ;}
    }

    @media screen #{$md}{
        .show-md,                    {display:inherit ;}       // show-md
        .show-md.table           {display:table ;}
        .show-md.table-row   {display:table-row ;}
        .show-md.table-cell          {display:table-cell ;}
        
        .hide-md,                                          // hide-md
        .hide-md.tableCell          {display:none ;}
    }

    @media screen #{$sm}{ 
        .show-sm                 {display:block ;}         // show-sm
        .show-sm.block           {display:block;}
        .show-sm.inline          {display:inline;}
        .show-sm.table        {display:table;}
        .show-sm.table-row        {display:table-row;}
        .show-sm.table-cell       {display:table-cell;}
        
        .hide-sm,
        .hide-sm.table-cell       {display:none ;}
    }

    @media screen #{$xs}{
        .show-xs                 {display:inherit;}        // show-xs
        .show-xs.block           {display:block;}
        .show-xs.table        {display:table;}
        .show-xs.table-row        {display:table-row;}
        .show-xs.table-cell       {display:table-cell;}
        
        .hide-xs                 {display:none ;}          // hide-xs
    }

  
  