/*SVG Bridge*/
svg{
    // position: absolute;
    width: 100%;
}

#svg {
    // margin-top: 20%;
}


#BarrePont1,
#BarrePont2,
#pilierBas1,
#pilierBas2,
#pilierBas3,
#pilierBas4,
#pilierHaut1,
#Rectangle_89,
#Rectangle_90,
#pilierHaut2,
#pilierHaut3 {
    fill: transparent;
    stroke: #e63147;
    stroke-width: 1px;
}

#Rectangle_77,
#Rectangle_78,
#Rectangle_79,
#Rectangle_82,
#Rectangle_80,
#Rectangle_81 {
    fill: #3ab8c6;
    stroke-width: 1px;
}


// SVG Home

.homeSVGcls-1, .homeSVGcls-3 {
        fill: none;
      }

.homeSVGcls-1 {
	stroke: #e6424a;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 10px;
	stroke-dasharray: 0 28;
}

.homeSVGcls-2 {
fill: #e6424a;
}

.homeSVGcls-3 {
	stroke: #e63147;
	stroke-width: 11px;
}